{% extends "network/layout.html" %}

{% block body %}
    {% if index and user.is_authenticated %}
        <div>
            <p>New Post</p>
            <form action="{% url 'send' %}" method="post">
                {% csrf_token %}
                {{ new_post_form }}
                <!-- <input type="text" name="content" class=" round text-light bg-dark border-primary"> -->
                <button type="submit" class=" round text-light bg-dark border-primary">Post</button>
            </form>
        </div>
    {% endif %}
    {% if show_info %}
        <div>
            <div>{{ user_info.owner.username }}</div>
            <div>Followers &#128101; {{ user_info.followers }}</div>
            <div>Following &#128225; {{ user_info.follow_to.count }}</div>
        </div>
    {% endif %}

    {% if message %} 
        <h3>{{ message }}</h3>
    {% else %}
        <div id="post-area"> 
            {% for post in posts %} 
                <div class="post round text-light bg-dark border-primary" data-id={{post.id}}>
                    <h6>{{ post.poster }}</h6>
                    {% if post.poster == name %}
                        <button class="edit-place round text-light bg-secondary border-primary">Edit</button>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <p>{{ post.post_time }}</p>
                    {% if post in user_info.like_post.all %} 
                        <p class="heart">{{ post.like_num }}&#10084;</p>
                    {% else %} 
                    <p class="heart">{{ post.like_num }}&#9825;</p>
                    {% endif %}
                </div>
            {% endfor %}   
    </div>
    {% endif %}
    <div class="bottom">
        <button class="right-button round text-light bg-dark border-primary" id="prev">Previous Page</button>
        <button class="left-button round text-light bg-dark border-primary" id="next">Next Page</button>  
    </div>
    
{% endblock %}