{% extends "network/layout.html" %}

{% block body %}
    <div>
        <p>New Post</p>
        <form action="{% url 'register' %}" method="post">
            <!-- javscript to do to submit the form -->
            {% csrf_token %}
            <input type="text" name="content" class=" round text-light bg-dark border-primary">
            <button type="submit" class=" round text-light bg-dark border-primary">Post</button>
        </form>
    </div>
    <div id="post-area"> 
        {% for post in posts %} 
            <div class="post round text-light bg-dark border-primary">
                <h6>{{ post.poster }}</h6>
                <p>edit not develop yet</p>
                <p>{{ post.content }}</p>
                <p>{{ post.post_time }}</p>
                {% if post.like_num %} 
                    <p>{{ post.like_num}}&#10084;</p>
                {% else %} 
                <p>{{ post.like_num}}&#9825;</p>
                {% endif %}
            </div>
        {% endfor %}   
    </div>
    <div class="bottom">
        <button class="right-button round text-light bg-dark border-primary" id="prev">Previous Page</button>
        <button class="left-button round text-light bg-dark border-primary" id="next">Next Page</button>  
    </div>
    
{% endblock %}