{% extends "network/layout.html" %}

{% block body %}
    <div>
        <div>{{ user_info.owner.username }}</div>
        <div>Followers &#128101; {{ user_info.followers }}</div>
        <div>Following &#128225; {{ user_info.follow_to.count }}</div>
    </div>
    <div>
        {% for my_post in my_posts %} 
        <div>
            <!-- <h6>{{ my_post.poster }}</h6> -->
            <p>edit not develop yet</p>
            <p>{{ my_post.content }}</p>
            <p>{{ my_post.post_time }}</p>
            {% if my_post.like_num == 0 %} 
                <p>{{ my_post.like_num}}&#9825;</p>
            {% else %} 
                <p>{{ my_post.like_num}}&#10084;</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}